/* Base Application Styles */
body {
     color: #fff;
    background: #666;
}

.index {
    /*margin: 40px auto;*/
    /*border-radius: 4px;*/
    background: #fff;
    display: block;
}

.player{
    position:absolute;
    width:100%;
    height: 100%;
    /*border: 2px solid blue;*/
}
.ListView{
    width: 100%;
    height: 80%;
    overflow-y:auto;
    /*border: 2px solid red;*/
}
.msgBox{
    background: lightslategray;
    /*margin:25px;*/

}

#tapBtn{
    background-color: darkgoldenrod;
    position: fixed;
    color:red;
/*  width:100%;
  height: 200px;*/
    display:block;
    height: 20%;
    width: 100%;
}

/*.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}*/
