.ShopItemAdd{
    position: relative;
    width: 150px;
    height:200px;
    background-color: #006600;
    float: left;
    margin: 10px;

}
.tips{
    /*position: absolute;*/
    width:100%;
    height: 20px;
    text-align: center;
    /*border: 2px red solid;*/
    margin-top: 75px;
}
